In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas
import random
import numpy as np
from celery_tasks.data_process import Processor

In [22]:
number = 5
string = 2
row_num = 20
null = 10
data = pandas.DataFrame(np.random.random((row, number)) * 100, columns=['number%d'%i for i in range(number)])

def get_string_column(class_num=5, row_num=20, str_len=3):
    all_string = [''.join(np.random.choice(list('ABCDEFGHIJKLMNOPQRSTUVWXYZ'), str_len)) for i in range(class_num)]
    return [np.random.choice(all_string) for i in range(row_num)]
for i in range(string):
    data['string%d' % i] = get_string_column(row_num=row_num)

for i in range(null):
    data.iloc[np.random.randint(0, row), np.random.randint(0, number + string)] = None
data

      number0    number1    number2    number3    number4 string0 string1
0   40.265274  75.276218  27.238657  19.376079        NaN     MUM     BWQ
1   89.750498  24.352228  44.737054  40.148314  79.891392     WHS     BWQ
2   41.093528  64.879897   6.441726   9.986430   5.575521     YAB     VKN
3   84.073304  17.944260  37.023172  89.374710  70.497832     NHW     WKI
4   46.997407        NaN  33.480194  68.686080  23.938451     YAB     VKN
5   20.903686  13.396898   6.907757  24.804732  49.752067    None     BMM
6   16.318483  65.158896  85.062049  38.909675  22.553746     NHW     WKI
7   69.226197  18.736708  86.854054  46.939737        NaN     WHS     DJK
8   80.903874  41.071236   9.482448  87.726270  72.469976     MUM     BWQ
9   31.078674  22.874315  61.536621   7.498697  19.800673     VHW     VKN
10  32.838992  67.023084        NaN        NaN  96.645940     YAB     BWQ
11        NaN  28.231089  73.533519  32.314283        NaN     WHS     BMM
12        NaN  34.078482  28.761248  54.133315  62.081649     NHW     VKN
13   9.155565  10.702485  34.553497  15.618600  94.999082     WHS     VKN
14  20.708439  56.643802  49.675438   5.790666  17.768862     MUM     BMM
15  49.570833  79.587799  78.174639  64.955462  80.634857     MUM     BMM
16  23.517408  31.319047  96.989077  74.744698   4.628345     MUM     VKN
17   4.135930  49.357203  87.537842  91.548933  23.559727     VHW     VKN
18  65.711630  38.603355  94.493614  91.218740  44.347328     YAB     VKN
19  95.165863  99.375796  87.159631  74.700265  15.216103     VHW    None

In [17]:
p = Processor(data)
p.data

      number0    number1    number2    number3    number4 string0 string1
0   55.623557        NaN  52.724258  93.908131   9.840571     UDE     CNM
1    2.431586  38.171084  82.250730  95.469322  90.800442    None     KCO
2   47.107567  57.724384  83.760892  62.932862  25.540168     ABJ     KCO
3   88.648716  16.929691  68.466712  72.835356  82.184000     UDE     CNM
4   96.990082  17.447640  93.929177  30.018069  30.450360     IFG     XKG
5   94.793479  33.521107  87.737777  46.737805  79.935889     YUE     XAX
6    6.049420  23.746865  65.568945  68.370222  57.746124     UDE     XKG
7   35.352119   8.670344        NaN  25.423715  59.492333     UDE     XKG
8   18.597159  71.778368  82.912979        NaN  36.146850     YUE    None
9         NaN  60.508691  58.507799  98.345371  85.840736     UDE     CNM
10  33.602798  78.816227   7.588527   5.921791  55.839673     YUE     XKG
11  56.819043  17.162241  17.996119   2.859578  16.728040     MHA     XAX
12  87.151109  14.743746   7.208078  12.352926  83.919365     IFG     XKG
13  87.798662  60.461576  88.806172   3.762486  47.874614     IFG    None
14  13.857180   2.578198   7.272943  79.886661  78.597002     YUE     CNM
15  23.972225  49.874657  23.513705  56.360623        NaN     IFG     XAX
16   0.190768   3.801395  77.334638  89.182998  44.554857    None     XKG
17  62.544532  11.211855  22.903668  17.251742  73.005926     UDE     KCO
18  69.713273  23.210229        NaN  33.902242   5.880506     YUE     CNM
19  33.401410  38.531266  39.956947  26.160248  59.130757     MHA     XKG

In [18]:
p.normalize()
p.data

     number0   number1   number2   number3   number4 string0 string1
0   0.227461       NaN -0.033802  1.347885 -1.623710     UDE     CNM
1  -1.389122  0.213285  0.892057  1.394237  1.361992    None     KCO
2  -0.031353  1.035590  0.939411  0.428228 -1.044728     ABJ     KCO
3   1.231144 -0.680012  0.459833  0.722233  1.044228     UDE     CNM
4   1.484651 -0.658229  1.258257 -0.549014 -0.863646     IFG     XKG
5   1.417893  0.017733  1.064114 -0.052604  0.961321     YUE     XAX
6  -1.279171 -0.393319  0.368968  0.589663  0.142989     UDE     XKG
7  -0.388618 -1.027354       NaN -0.685421  0.207387     UDE     XKG
8  -0.897826  1.626623  0.912823       NaN -0.653566     YUE    None
9        NaN  1.152683  0.147552  1.479627  1.179084     UDE     CNM
10 -0.441783  1.922597 -1.449118 -1.264434  0.072681     YUE     XKG
11  0.263793 -0.670232 -1.122769 -1.355351 -1.369708     MHA     XAX
12  1.185630 -0.771940 -1.461048 -1.073493  1.108227     IFG     XKG
13  1.205310  1.150701  1.097615 -1.328544 -0.221060     IFG    None
14 -1.041881 -1.283557 -1.459014  0.931587  0.911944     YUE     CNM
15 -0.734470  0.705473 -0.949754  0.233098       NaN     IFG     XAX
16 -1.457224 -1.232116  0.737904  1.207596 -0.343489    None     XKG
17  0.437800 -0.920472 -0.968883 -0.928047  0.705752     UDE     KCO
18  0.655668 -0.415887       NaN -0.433693 -1.769752     YUE     CNM
19 -0.447903  0.228432 -0.434145 -0.663553  0.194053     MHA     XKG

In [19]:
p.fill_missing()
p.data

     number0   number1   number2   number3   number4 string0 string1
0   0.227461  0.000000 -0.033802  1.347885 -1.623710     UDE     CNM
1  -1.389122  0.213285  0.892057  1.394237  1.361992    None     KCO
2  -0.031353  1.035590  0.939411  0.428228 -1.044728     ABJ     KCO
3   1.231144 -0.680012  0.459833  0.722233  1.044228     UDE     CNM
4   1.484651 -0.658229  1.258257 -0.549014 -0.863646     IFG     XKG
5   1.417893  0.017733  1.064114 -0.052604  0.961321     YUE     XAX
6  -1.279171 -0.393319  0.368968  0.589663  0.142989     UDE     XKG
7  -0.388618 -1.027354  0.000000 -0.685421  0.207387     UDE     XKG
8  -0.897826  1.626623  0.912823  0.000000 -0.653566     YUE    None
9   0.000000  1.152683  0.147552  1.479627  1.179084     UDE     CNM
10 -0.441783  1.922597 -1.449118 -1.264434  0.072681     YUE     XKG
11  0.263793 -0.670232 -1.122769 -1.355351 -1.369708     MHA     XAX
12  1.185630 -0.771940 -1.461048 -1.073493  1.108227     IFG     XKG
13  1.205310  1.150701  1.097615 -1.328544 -0.221060     IFG    None
14 -1.041881 -1.283557 -1.459014  0.931587  0.911944     YUE     CNM
15 -0.734470  0.705473 -0.949754  0.233098  0.000000     IFG     XAX
16 -1.457224 -1.232116  0.737904  1.207596 -0.343489    None     XKG
17  0.437800 -0.920472 -0.968883 -0.928047  0.705752     UDE     KCO
18  0.655668 -0.415887  0.000000 -0.433693 -1.769752     YUE     CNM
19 -0.447903  0.228432 -0.434145 -0.663553  0.194053     MHA     XKG

In [20]:
p.one_hot()
p.data

one hot for string0
one hot for string1

,number0,number1,number2,number3,number4,string0_UDE,string0_ABJ,string0_IFG,string0_YUE,string0_MHA,string1_CNM,string1_KCO,string1_XKG,string1_XAX
0,0.227461,0.000000,-0.033802,1.347885,-1.623710,1,0,0,0,0,1,0,0,0
1,-1.389122,0.213285,0.892057,1.394237,1.361992,0,0,0,0,0,0,1,0,0
2,-0.031353,1.035590,0.939411,0.428228,-1.044728,0,1,0,0,0,0,0,0,0
3,1.231144,-0.680012,0.459833,0.722233,1.044228,0,0,0,0,0,0,0,0,0
4,1.484651,-0.658229,1.258257,-0.549014,-0.863646,0,0,1,0,0,0,0,1,0
5,1.417893,0.017733,1.064114,-0.052604,0.961321,0,0,0,1,0,0,0,0,1
6,-1.279171,-0.393319,0.368968,0.589663,0.142989,0,0,0,0,0,0,0,0,0
7,-0.388618,-1.027354,0.000000,-0.685421,0.207387,0,0,0,0,0,0,0,0,0
8,-0.897826,1.626623,0.912823,0.000000,-0.653566,0,0,0,0,0,0,0,0,0
9,0.000000,1.152683,0.147552,1.479627,1.179084,0,0,0,0,0,0,0,0,0
10,-0.441783,1.922597,-1.449118,-1.264434,0.072681,0,0,0,0,0,0,0,0,0
11,0.263793,-0.670232,-1.122769,-1.355351,-1.369708,0,0,0,0,1,0,0,0,0
12,1.185630,-0.771940,-1.461048,-1.073493,1.108227,0,0,0,0,0,0,0,0,0
13,1.205310,1.150701,1.097615,-1.328544,-0.221060,0,0,0,0,0,0,0,0,0
14,-1.041881,-1.283557,-1.459014,0.931587,0.911944,0,0,0,0,0,0,0,0,0
15,-0.734470,0.705473,-0.949754,0.233098,0.000000,0,0,0,0,0,0,0,0,0
16,-1.457224,-1.232116,0.737904,1.207596,-0.343489,0,0,0,0,0,0,0,0,0
17,0.437800,-0.920472,-0.968883,-0.928047,0.705752,0,0,0,0,0,0,0,0,0
18,0.655668,-0.415887,0.000000,-0.433693,-1.769752,0,0,0,0,0,0,0,0,0
19,-0.447903,0.228432,-0.434145,-0.663553,0.194053,0,0,0,0,0,0,0,0,0

In [27]:
records = p.records
p=Processor(data)
p.records = records
p.redo(records)
p.data

Processor.redo: normalize
Processor.redo: fillna
Processor.redo: fillna
Processor.redo: fillna
Processor.redo: fillna
Processor.redo: fillna
Processor.redo: one_hot_encoding

,number0,number1,number2,number3,number4,string0_UDE,string0_ABJ,string0_IFG,string0_YUE,string0_MHA,string1_CNM,string1_KCO,string1_XKG,string1_XAX
0,-0.239300,1.773724,-0.832951,-0.864975,0.000000,0,0,0,0,0,0,0,0,0
1,1.264629,-0.367860,-0.284256,-0.248247,0.959680,0,0,0,0,0,0,0,0,0
2,-0.214128,1.336512,-1.485079,-1.143754,-1.781000,0,0,0,0,0,0,0,0,0
3,1.092091,-0.637344,-0.526139,1.213288,0.613257,0,0,0,0,0,0,0,0,0
4,-0.034701,0.000000,-0.637236,0.599041,-1.103797,0,0,0,0,0,0,0,0,0
5,-0.827727,-0.828582,-1.470465,-0.703798,-0.151822,0,0,0,0,0,0,0,0,0
6,-0.967079,1.348245,0.980211,-0.285022,-1.154863,0,0,0,0,0,0,0,0,0
7,0.640865,-0.604018,1.036403,-0.046609,0.000000,0,0,0,0,0,0,0,0,0
8,0.995767,0.335250,-1.389731,1.164345,0.685987,0,0,0,0,0,0,0,0,0
9,-0.518494,-0.430013,0.242527,-1.217615,-1.256393,0,0,0,0,0,0,0,0,0
10,-0.464996,1.426642,0.000000,0.000000,1.577567,0,0,0,0,0,0,0,0,0
11,0.000000,-0.204737,0.618712,-0.480839,0.000000,0,0,0,0,0,0,0,0,0
12,0.000000,0.041173,-0.785208,0.166969,0.302878,0,0,0,0,0,0,0,0,0
13,-1.184770,-0.941894,-0.603581,-0.976535,1.516833,0,0,0,0,0,0,0,0,0
14,-0.833661,0.990147,-0.129403,-1.268327,-1.331324,0,0,0,0,0,0,0,0,0
15,0.043510,1.955045,0.764243,0.488279,0.987098,0,0,0,0,0,0,0,0,0
16,-0.748293,-0.074874,1.354206,0.778922,-1.815930,0,0,0,0,0,0,0,0,0
17,-1.337324,0.683712,1.057844,1.277840,-1.117764,0,0,0,0,0,0,0,0,0
18,0.534052,0.231464,1.275956,1.268037,-0.351142,0,0,0,0,0,0,0,0,0
19,1.429210,2.787220,1.045985,0.777603,-1.425467,0,0,0,0,0,0,0,0,0